/* Estilos base */
body {
    font-family: 'Space Grotesk', sans-serif;
    background: var(--light-bg);
    color: var(--text-dark);
    overflow-x: hidden;
    cursor: none;
    line-height: 1.6;
    opacity: 0;
    animation: fadeInBody 0.5s ease 0.2s forwards;
}

@keyframes fadeInBody {
    to {
        opacity: 1;
    }
}

